################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JiumSaleManagement/ConsoleTest/obj/Debug
/JiumSaleManagement/ConsoleTest/bin/Debug
/JiumSaleManagement/ipch/JIUMSALEMANAGEMENT-bae117f2
/JiumSaleManagement/JiumSaleManagement.VC.db
/JiumSaleManagement/JiumSaleManagement.VC.VC.opendb
/JiumSaleManagement/Web/bin
