################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JiumSaleManagement/ConsoleTest/obj/Debug
/JiumSaleManagement/ConsoleTest/bin/Debug
/JiumSaleManagement/ipch/JIUMSALEMANAGEMENT-bae117f2
/JiumSaleManagement/JiumSaleManagement.VC.db
/JiumSaleManagement/JiumSaleManagement.VC.VC.opendb
/JiumSaleManagement/Web/bin
/JiumSaleManagement/Backup
/JiumSaleManagement/Backup2
/JiumSaleManagement/Backup
/output/bin
/output/bin
/bin
/JiumSaleManagement/BLL/obj/Debug
/JiumSaleManagement/Common/obj/Debug
/JiumSaleManagement/DAL/obj/Debug
/JiumSaleManagement/IDAL/obj/Debug
/JiumSaleManagement/DBUtility/obj/Debug
/JiumSaleManagement/DALFactory/obj/Debug
/JiumSaleManagement/Model/obj/Debug
/JiumSaleManagement/OracleDAL/obj/Debug
/JiumSaleManagement/SQLServerDAL/obj/Debug
/JiumSaleManagement/MySQLDAL/obj/Debug
/lib
/JiumSaleManagement/Web/obj/Debug
/JiumSaleManagement/BLL/bin/Release
/JiumSaleManagement/BLL/obj/Release
/JiumSaleManagement/Common/obj/Release
/JiumSaleManagement/DALFactory/obj/Release
/JiumSaleManagement/ConsoleTest/obj/Release
/JiumSaleManagement/DBUtility/obj/Release
/JiumSaleManagement/IDAL/obj/Release
/JiumSaleManagement/Model/obj/Release
/JiumSaleManagement/MySQLDAL/obj/Release
/JiumSaleManagement/OracleDAL/obj/Release
/JiumSaleManagement/SQLServerDAL/obj/Release
/JiumSaleManagement/Web/obj/Release
/JiumSaleManagement/Ctrl/bin/Debug
/JiumSaleManagement/Ctrl/obj
/JiumSaleManagement/Lib
/JiumSaleManagement/.vs/JiumSaleManagement/v15
/JiumSaleManagement/DAL/obj/Release
/JiumSaleManagement/Web/Css
/output/test
