<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<appSettings> 
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=localhost;uid=root;pwd=root;database=jmnms;Port=33066;"/>
    <add key="DAL" value="Jium.MySQLDAL"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CNmsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/CNmsService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_CNmsService" contract="ServiceReference_CNmsService.CNmsService"
                name="BasicHttpBinding_CNmsService" />
        </client>
    </system.serviceModel>
</configuration>