<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings> 
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=localhost;uid=root;pwd=root;database=jiumnms;Port=33066;"/>
    <add key="DAL" value="Xwsw.MySQLDAL"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="AudioUtil.CNmsService" behaviorConfiguration="CNmsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/CNmsService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CNmsServiceBinding" contract="AudioUtil.INmsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    <service name="AudioUtil.FileService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="MyTcpBinding" contract="AudioUtil.IFileService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
             <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfTest/Service1/" />
            <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/WcfTest/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="CNmsServiceBinding" sendTimeout="00:10:00" transferMode="Streamed" messageEncoding="Text" textEncoding="utf-8" maxReceivedMessageSize="9223372036854775807">
        </binding>
      </basicHttpBinding>
    <netTcpBinding>
        <binding name="MyTcpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:30:00" transferMode="Streamed"   >
          <security mode="None"></security>
        </binding> 
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CNmsServiceBehavior">
           <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" />
        <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>